In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/processed/bus_network_data.csv')
data.head()

,Unnamed: 0,bus_line,direction,date,month,day,day_of_week,time_period,hour,minute,...,Humidity,PrecipitationIn,TemperatureF,VisibilityMPH,Wind SpeedMPH,totalInjuries,pavementScore,potholeCount,prev_trip_ratio,ntwk_delay_lag1hr
0,0,B11,2,1/1/16,1,1,Friday,PeakAM,9,44,...,58,0.0,39.9,10.0,10.4,162,2110,237,0.638492,2.0
1,1,B11,1,1/1/16,1,1,Friday,PeakAM,9,52,...,58,0.0,39.9,10.0,10.4,162,2110,237,1.055520,2.0
2,2,B11,2,1/1/16,1,1,Friday,MidDay,10,10,...,58,0.0,39.9,10.0,6.9,162,2110,237,1.017161,4.0
3,3,B11,1,1/1/16,1,1,Friday,MidDay,10,23,...,58,0.0,39.9,10.0,6.9,162,2110,237,0.979406,4.0
4,4,B11,2,1/1/16,1,1,Friday,MidDay,10,33,...,58,0.0,39.9,10.0,6.9,162,2110,237,0.591185,4.0