# Merge Weather and Spatial Data
#### Daniel Fay

### Merge Weather Data

In [24]:
import pandas as pd

In [25]:
bus = pd.read_csv('data/interim/bus_times_delay.csv', index_col=0, low_memory=False)
weather = pd.read_csv('data/external/nyc_weather_2016.csv', index_col=0)

In [26]:
weather.columns

Index([u'Conditions', u'DateUTC', u'Dew PointF', u'Events', u'Gust SpeedMPH',
       u'Humidity', u'PrecipitationIn', u'Sea Level PressureIn',
       u'TemperatureF', u'TimeEDT', u'TimeEST', u'VisibilityMPH',
       u'Wind Direction', u'Wind SpeedMPH', u'WindDirDegrees'],
      dtype='object')

In [27]:
weather = weather[[u'Conditions', u'DateUTC', u'Humidity', u'PrecipitationIn', \
                   u'TemperatureF', u'VisibilityMPH', u'Wind SpeedMPH']]

In [28]:
weather['DateUTC'] = pd.to_datetime(weather['DateUTC'])
weather['hour'] = weather['DateUTC'].dt.hour
weather['month'] = weather['DateUTC'].dt.month
weather['day'] = weather['DateUTC'].dt.day
weather.drop('DateUTC', axis=1, inplace=True)
weather.head()

,Conditions,Humidity,PrecipitationIn,TemperatureF,VisibilityMPH,Wind SpeedMPH,hour,month,day
0,Overcast,51.0,NaN,42.1,10.0,4.6,5,1,1
1,Overcast,53.0,NaN,41.0,10.0,3.5,6,1,1
2,Overcast,55.0,NaN,41.0,10.0,4.6,7,1,1
3,Overcast,55.0,NaN,41.0,10.0,9.2,8,1,1
4,Overcast,58.0,NaN,39.9,10.0,10.4,9,1,1

In [29]:
weather.drop_duplicates(['hour','month','day'],inplace=True)

In [30]:
bus.head()

,bus_line,trip_time,begin_time,day_of_week,month,hour,date,day,time_period,avg_trip_time,std_trip_time,delay
0,B11,67.633333,2016-01-01 00:00:13,Friday,1,0,2016-01-01,1,Night,61.446225,19.036123,0
1,B11,36.066667,2016-01-01 00:00:14,Friday,1,0,2016-01-01,1,Night,61.446225,19.036123,0
2,B11,31.000000,2016-01-01 00:00:15,Friday,1,0,2016-01-01,1,Night,61.446225,19.036123,0
3,B11,7.200000,2016-01-01 00:00:17,Friday,1,0,2016-01-01,1,Night,61.446225,19.036123,0
4,B11,23.900000,2016-01-01 00:00:18,Friday,1,0,2016-01-01,1,Night,61.446225,19.036123,0

In [31]:
len(bus)

827763

In [32]:
bus_weather = pd.merge(bus, weather, how='left', on=['month','day','hour'])

In [33]:
len(bus_weather)

827763

In [34]:
bus_weather['PrecipitationIn'].fillna(0, inplace=True)
bus_weather.dropna(inplace=True)
bus_weather.sort_values(['bus_line','begin_time'], inplace=True)
bus_weather.reset_index(inplace=True, drop=True)
bus_weather.head()

,bus_line,trip_time,begin_time,day_of_week,month,hour,date,day,time_period,avg_trip_time,std_trip_time,delay,Conditions,Humidity,PrecipitationIn,TemperatureF,VisibilityMPH,Wind SpeedMPH
0,B11,39.816667,2016-01-01 05:27:56,Friday,1,5,2016-01-01,1,Night,61.446225,19.036123,0,Overcast,51.0,0.0,42.1,10.0,4.6
1,B11,39.900000,2016-01-01 09:11:05,Friday,1,9,2016-01-01,1,PeakAM,42.587963,11.800522,0,Overcast,58.0,0.0,39.9,10.0,10.4
2,B11,38.450000,2016-01-01 09:44:02,Friday,1,9,2016-01-01,1,PeakAM,42.587963,11.800522,0,Overcast,58.0,0.0,39.9,10.0,10.4
3,B11,53.900000,2016-01-01 09:52:02,Friday,1,9,2016-01-01,1,PeakAM,42.587963,11.800522,0,Overcast,58.0,0.0,39.9,10.0,10.4
4,B11,34.700000,2016-01-01 10:10:50,Friday,1,10,2016-01-01,1,MidDay,61.384230,14.874246,0,Overcast,58.0,0.0,39.9,10.0,6.9

In [35]:
len(bus_weather)

822423

In [36]:
bus_weather.to_csv('data/interim/bus_times_delay_weather.csv')

### Merge Spatial Data